// bower:scss
// endbower

// need to work on better class consolidation. way to verbose.

html * {
    vertical-align: top;
    margin: 0;
}

body {
    background: #F7F7F7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.header {
    clear: both;
    width: 960px;
    height: 100px;
    margin: 20px auto;

    // margin-top: 20px;
    // background-image: url(images/jQuery-Logo.png);
    background-repeat: no-repeat;
    // background: linear-gradient(to bottom, ##E2E0E0 0%,#f8f8f8 50%,#fafafa 100%);
    background: cover;
}

.container {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F7F7F7;
}

.card {
    width: 640px;
    // height: 840px;
    margin: 0 auto;
    background-color: #FCFCFC;
    border: 1px solid #DFDFDF;
    border-radius: 4px;
    padding-bottom: 40px;
}

.example-Container {
    width: 600px;
    height: 432px;
    margin: 0 auto;
    background: #57ff24;
    border-radius: 4px;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: white;
    text-align: center;
    line-height: 432px;
}

.example-Container1 {
    width: 600px;
    height: 432px;
    margin: 0 auto;
    background: #57ff24;
    border-radius: 4px;
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: white;
    text-align: center;
    line-height: 432px;
}

.example-Number1 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-one {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-one:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number2 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-two {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-two:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number3 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-three {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-three:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number4 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-four {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-four:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number5 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-five {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-five:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number6 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-six {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-six:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number7 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-seven {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-seven:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number8 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-eight {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-eight:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number9 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-nine {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-nine:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number10 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-ten {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-ten:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number11 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-eleven {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-eleven:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number12 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-twelve {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-twelve:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number13 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-thirteen {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-thirteen:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number14 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-fourteen {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-fourteen:hover {
    cursor: pointer;
    color: #57ff24;
}

.example-Number15 {
    width: 600px;
    height: 432px;
    // width: 500px;
    // height: 360px;
    margin: 0 auto;
    background-color: #333;
    // opacity: 0.90;
    border-radius: 2px;
    // position: relative;
    // top: 36px;
}

.button-fifteen {
    width: 200px;
    height: 75px;
    background-color: #333;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 70px;
    text-align: center;
    text-decoration: uppercase;
}

.button-fifteen:hover {
    cursor: pointer;
    color: #57ff24;
}

h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
        color: white;
        text-align: center;
        line-height: 432px;
    }

h2 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
        color: white;
        text-align: center;
        line-height: 432px;
    }    

p {
    margin: 0 auto;
    width: 600px;
    font-size: 15px;
    line-height: 20px;
    // background: #eee;
    border-radius: 4px;
    margin-top: 16px;
    text-align: justify;
    // padding-left: 20px;
    // padding-right: 20px;
}

.divider {
    height: 75px;
}



.footer {
    clear: both;
    height: 150px;
    width: 100%;
    background: #FDFDFD;
    border-top: 1px solid #DFDFDF;
}